body {
    display: flex;
    height: 100vh;
    margin: 0;
}
#menu {
    width: 20%;
    background: #f0f0f0;
    padding: 10px;
}
#viewer {
    border-radius: 5%;
    border-width: 5px;
    border-style: none;
    margin: auto;
    width: 120vh;
    height: 80vh;
}
#homebutton {
    margin-top: 10px;
    margin-bottom: 70px;
    border: none;
}
#selectionbuttons {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    border-radius: 15px;
    border-style: solid;
    border-color: gray;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#texthome {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

button:hover {
    background-color: lightgrey;
}

button:active {
    background-color: rgb(182, 182, 182);
}

.visual {
    display: flex;
    flex: 6;
}


.nav-regular-res {
    flex: 4;
    display: flex;
    flex-direction: column;
    overflow-y: auto;  /* Allow vertical scrolling */
}

.nav-lower-res {
    flex: 6;
    display: none;
    flex-direction: column;
    overflow-y: auto;  /* Allow vertical scrolling */
}


@media screen and (max-width: 640px) {

    
.nav-regular-res {
    display: none;
}
body {
    flex-direction: column;
}

.nav-lower-res {
    display: flex;
}
#viewer {
    display: flex;
    border-radius: 5%;
    border-width: 5px;
    border-style: none;
    margin: auto;
    flex: 6;
}
}